[Unit]
Description=Gatus Status Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=GATUS_CONFIG_PATH=/etc/netspecter/gatus/config.yaml
ExecStart=/usr/local/bin/gatus
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
