[Unit]
Description=Check NetSpecter Speed Test Schedule

[Timer]
OnCalendar=*:07:00
Persistent=true
Unit=netspecter-speedtest.service

[Install]
WantedBy=timers.target
